@font-face {
    font-family: BerlinBold; /* Имя шрифта */
    src: url(fonts/BerlinBold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Berlin; /* Имя шрифта */
    src: url(fonts/Berlin.ttf); /* Путь к файлу со шрифтом */
   }
   /*P {
    font-family: Pompadur;
   }*/
body {margin: 0; padding: 0;}
.menu {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
}
.mainMenu {
    margin-left: 5%;
    height: 80%;
    color: white;
}
#title {
    /*BerlinBold*/
    font-family: 'Segoe UI';
    font-size: 500%;
    /* отступ от верхнего, правого, нижнего и левого края.*/
    margin: 2% 0 0 0;
}
#text {
    padding-left: 2%;
    /*Berlin*/
    font-family: 'Segoe UI';
    font-size: 120%;
    margin-top: 0;
    width: 40%;
}
#about{
    background: url(../images/pattern.png);
    /*border: 3px solid white;*/
    position: absolute;
    width: 40%;
    height: auto;
    top: 0;
    right: 0;
    margin-right: 5%;
    margin-top: 9%;
    /*Berlin*/
}
#welcome {
    font-family: 'Segoe UI';
    font-size: 500%;
    /* отступ от верхнего, правого, нижнего и левого края.*/
    padding-left: 2%;
    margin: 0;
}
#address {
    text-align: center;
    margin: 0;
    font-family: 'Segoe UI';
    font-size: 120%;
    padding: 0 5% 30px 5%;
}
b{
    font-size: 150%;
}
.social {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
}
#networks {
    margin: 0 2px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
#inform {
    width: 100%;
    height: 100%;
    z-index: 10;
}
.header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
#logo {
    width: 352px;
    height: 90px;
    display: block; 
    margin: 10px auto;
    /*position: absolute;
    left: 37vw;
    top: 20px;
    height: auto;
    display: block;*/
}
#replay {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../images/repeat.svg) top left no-repeat;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    /*margin: 30 auto;*/
    border: none;
    /*outline:0;*/
}
#replay:hover {
    cursor: pointer;
 }

#fon {
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background-image: url(../images/fon3.png);
    /*background-position: 100% 100%;*/
    background-size: cover;
}
#bg {
    margin: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    /*0.85 ideal'no*/
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    /*background-image: url(../images/pattern.png);*/
}
.bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#video{
    z-index: 1;
    position: absolute;
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
}